/* AddButton.css */
.add-button {
    background-color: #535bf2;
    border-color: #535bf2;
    color: #ffffff;
    margin-left: 8px;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: background-color 0.25s, border-color 0.25s;
  }
  
  .add-button:hover {
    background-color: #747bff;
  }

  body.dark .add-button {
    background-color: #333;
    border-color: #333;
    color: #fff;
    fill: #fff;

  }
  
  body.dark .add-button:hover {
    background-color: #555;
  }
  