/* src/App/App.css */
.app {
  text-align: left; /* Modifiez pour aligner le texte à gauche plutôt qu'au centre */
  display: flex; /* Utilisez flexbox pour aligner les éléments horizontalement */
}

.app-header {
  width: 100%; /* Prend toute la largeur pour éviter les chevauchements avec la NavBar */
  background-color: #282c34;
  padding: 20px;
  color: white;
  position: fixed; /* Fixe l'en-tête au sommet */
  top: 0;
  left: 0;
  z-index: 1000; /* S'assure que l'en-tête reste au-dessus de la NavBar défilante */
}

.toggle-navbar {
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
  font-size: 16px;
}

main {
  margin-top: 60px; /* Ajoutez suffisamment d'espace en haut pour l'en-tête */
  flex-grow: 1; /* Permet à main de prendre tout l'espace horizontal restant */
  transition: margin-left 0.3s; /* Transition pour le décalage de la marge */
}

.with-navbar {
  margin-left: 250px; /* Décalage pour l'espace de la NavBar */
}

/* Assurez-vous que l'élément 'main' prend toute la hauteur disponible après l'en-tête */
main {
  height: calc(100vh - 60px); /* Ajustez la hauteur en fonction de la hauteur de votre en-tête */
  overflow-y: auto; /* Permet le défilement vertical si nécessaire */
}
