/* EditButton.css */
.edit-button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: background-color 0.25s, border-color 0.25s;
    background-color: #f2f2f2;
    border-color: #f2f2f2;
    fill: #213547;
    margin-left: 8px;
    padding: 0.8em 1.4em; /* Agrandissez le padding */
    font-size: 1.2em; /* Augmentez la taille de la police */
    margin-left: 12px; /* Augmentez l'espacement entre les boutons */
  }
  
  .edit-button:hover {
    background-color: #535bf2;
    border-color: #535bf2;
    fill: #f2f2f2;
  }
  
  body.dark .edit-button {
    background-color: #333;
    border-color: #333;
    color: #fff;
    fill: #fff; /* Changez la couleur du SVG en blanc pour le mode sombre */
  }
  
  body.dark .edit-button:hover {
    background-color: #555;
    border-color: #555;
  }

