.navbar {
    height: 100vh; /* Prend toute la hauteur de la fenêtre */
    width: 250px; /* Largeur fixe pour la barre latérale */
    position: fixed; /* Position fixe sur le côté */
    top: 0; /* Aligné en haut */
    left: 0; /* Aligné à gauche */
    background-color: #f3f4f6; /* Un fond gris clair */
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2); /* Ombre pour une profondeur */
    display: flex;
    flex-direction: column; /* Empile les éléments verticalement */
    justify-content: flex-start;
    padding: 20px;
  }
  
  .navbar-content {
    overflow-y: auto; /* Permet le défilement si la liste est trop longue */
    flex-grow: 1; /* Permet à la liste de prendre tout l'espace disponible */
  }
  
  .list-name {
    margin-bottom: 10px; /* Espace entre les listes */
    background-color: #e5e7eb; /* Un gris légèrement différent pour les éléments de la liste */
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .list-name:hover {
    background-color: #d1d5db; /* Assombrir l'élément au survol */
  }
  
  .navbar-add-list {
    margin-top: 20px; /* Espace entre la liste et la section d'ajout */
  }
  
  .input-field,
  .add-button {
    width: 100%; /* Utilisez toute la largeur disponible */
  }
  
  .input-field {
    margin-bottom: 10px; /* Espace entre le champ de saisie et le bouton */
  }
  
  /* Ajoutez des styles supplémentaires au besoin ici */
  