/* DeleteButton.css */
.delete-button {
    border-radius: 8px;
    border: 1px solid transparent;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: background-color 0.25s, border-color 0.25s;
    background-color: #f2f2f2;
    border-color: #f2f2f2;
    fill: #213547;
    margin-left: 8px;
    transition: all 0.3s ease;
  }
  
  .delete-button:hover {
    background-color: #ff4d4d;
    border-color: #ff4d4d;
    fill: #f2f2f2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  body.dark .delete-button {
    background-color: #333;
    border-color: #333;
    color: #fff;
    fill: #fff; /* Couleur du SVG */
  }
  
  body.dark .delete-button:hover {
    background-color: #555;
    border-color: #555;
  }
  