.App {
  font-family: 'Arial', sans-serif; /* Choisissez une police */
  color: #333; /* Couleur de texte standard */
  padding-left: 260px; /* Ajuster en fonction de la NavBar */
  margin-top: 20px;

}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #213547;
  background-color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.task-list,
li,
.edit-button,
.delete-button,
.task-item {
  list-style: none;
  padding: 0;
  margin: 0;
}
